# Files
.vscode/*
!.vscode/extensions.json
node_modules/
.expo/
dist/

# Debug & Logs
logs/
*.log
npm-debug.log*
npm-error.log*
yarn-error.log*
yarn-debug.log*

# Environment Files
*.env

# macOS
.DS_Store

# Extras
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# VS Code
.vscode/
*.code-workspace

# Files
node_modules/
.next/
.expo/
dist/

# Debug
npm-debug.*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.staging
.env.development
.env.production

# Misc
.DS_Store
archives/

# Jate's Personal Files
to-do-list.txt

